body {
	height: 100vh;
	margin:0;
}
h1 {position: relative;
	top:15%;
	color: green;
	opacity:0.8;
	text-align: center;
}
ul {
	margin: 0;
	padding: 0
}
li {text-align: center;
	list-style-type: none;
	display:block;
	cursor: pointer;
	border-radius: 5px;

}
li:hover{
	background-color: lightblue;
}
#listRoutesAB {
	overflow-y:auto;
	width:450px;
	height: 100vh;
	position: absolute;
	left:0;
	z-index: 1;
}
#map {
	width:calc(100vw - 450px);
	position: fixed;
	left:450px;
	height: 100vh;
}